$body-bg: #e5eaf5;
$body-color: #24386f;
$primary: #6f6af8;
$min-contrast-ratio: 1.5;

$spacer: 1rem;

$gray-100: #EBF2FB;
$gray-200: #D8E4F7;
$gray-300: #BCCCE8;
$gray-400: #A0B1D2;
$gray-500: #7C8DB5;
$gray-600: #5A6C9B;
$gray-700: #3E4E82;
$gray-800: #273568;
$gray-900: #172256;
$black:    #000;

$font-size-base: 0.9rem;
$font-family-base: "Satoshi", sans-serif;
$font-weight-base: 500;
$headings-font-weight: 700;

$border-radius: .6rem;
$border-color: $gray-200;

$card-spacer-x: $spacer * 2;
$card-spacer-y: $spacer * 2;
$card-border-width: 0;

$sidebar-width: 80px;

// Secondary Sidebar
$secondary-sidebar-width: 240px;
$secondary-sidebar-background: $gray-200;

$table-striped-bg: #f7f9fc;

$warning: #f5b33a;
$success: #3cc896;
$danger: #e04d66;

$modal-content-border-radius: 0;
$modal-content-border-width: 0;

$input-border-width: 0;
$input-bg: $gray-100;
$input-btn-padding-y: .6rem;

$form-check-input-border: 1px solid $gray-200;
$form-check-input-width: 1.3em;
$form-check-input-height: 1.3em;
$form-switch-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$gray-500}'/></svg>");
$form-floating-label-opacity: 1;

$btn-font-weight: $font-weight-base;
$btn-padding-x: .6rem;

$hr-border-color: $gray-300;

// Accordion
$accordion-bg: $gray-100;
$accordion-button-active-bg: $gray-200;

// Breadcrumb
// $breadcrumb-divider-color: $gray-200;

$list-group-border-color: $gray-200;