<extends src="./layouts/main.html">
  <block name="body">
    <div class="sidebar primary left">
      <div class="logo">
        <img src="imgs/dash-logo-inverted.png" width="50px" alt="Dash Logo">
      </div>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-door-fill"></i>
            <span>Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-grid-1x2-fill"></i> <span>Layouts</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-sd-card-fill"></i> <span>Widgets</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#"><i class="bi bi-house-door-fill"></i> <span>UI
              Elements</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-grid-1x2-fill"></i> <span>Tables</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-envelope-open-fill"></i> <span>Mailbox</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-grid-1x2-fill"></i> <span>Layouts</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-sd-card-fill"></i> <span>Widgets</span></a>
        </li>
        <li class="nav-item has-sub">
          <a class="nav-link" aria-current="page" href="#"><i class="bi bi-house-door-fill"></i> <span>Sub
              Menu</span></a>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Menu Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Another Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Menu Item #3</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-grid-1x2-fill"></i> <span>Tables</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-envelope-open-fill"></i> <span>Mailbox</span></a>
        </li>
      </ul>
    </div>
  </block>
</extends>